<div class="banner">
  <div class="container">
  	<div class="b-part2">
		<h2>Never surrender to fear</h2>
	</div>
    <div class="col-md-3 b-part3">
      <a href="https://www.linkedin.com/in/kevin-gu-7bb52b66
"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/candlewipe/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
</div>