<div class="effect1 wow fadeInUp animated" data-wow-delay=".5s">
    <a href={{project.link}} class="swipebox">
        <img src={{project.image}} alt="" class="img-responsive" />
        <div class="figcaption">
            <p>{{project.title}}</p>
        </div>
   	</a>  
</div>

