{{yield}}
<div class="item">
  <h3 class="level-title">{{skill.language}}<span class="level-label">{{skill.level}}</span></h3>
  <div class="level-bar">
    <div class="level-bar-inner" data-level={{skill.percent_mastery}}></div>
  </div>
</div>