.b-part3{
	text-align:center;
}
.b-part3 .fa {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #fff;
    width: 21%;
    margin: 0px 8px;
    text-align: center;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.b-part3 .fa-facebook:hover{
	color:#4867aa;
	border: 2px solid #4867aa;
}
.b-part3 .fa-linkedin:hover{
	color:#0076b4;
	border: 2px solid #0076b4;
}
.b-part3 .fa-pinterest-p:hover{
	color:#ba221d;
	border: 2px solid #ba221d;
}
.b-part3 .fa-vimeo:hover{
	color:#0baee9;
	border: 2px solid #0baee9;
}
.b-part3 .fa-google-plus:hover{
	color:#dd4e40;
	border: 2px solid #dd4e40;
}
.b-part3  .fa-tumblr:hover{
	color:#36465d;
	border: 2px solid #36465d;
}
.b-part3  .fa-instagram:hover{
	color:#36465d;
	border: 2px solid #36465d;
}
.b-part3 .fa-facebook,.b-part3 .fa-linkedin,.b-part3 .fa-pinterest{
	margin-bottom:20px
}