<!--about-->
<div class="about">
  <div class="container">
    <h3>About Me</h3>
    <label class="line"></label>
    <img src="assets/images/1.jpg" alt=" " />
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
    <p>As opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum.</p>
  </div>
</div>
<!--//about-->


<!-- download-->
<div class="download">
  <h3>Download my resume here</h3>
  <a href="#">Download</a>
</div>
<!-- //download -->

        
{{my-portfolio model=model}}


<!--footer-->
<div class="footer-agileinfo">
  <p> &copy; 2016 Curriculum vitae. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>
