<!--about-->
<div class="about">
  <div class="container">
    <h3>Kevin Gu</h3>
    <label class="line"></label>
    <img src="assets/images/me.jpg" alt=" " />
    <p>
      I love working with customers through the process in delivering a quality product.
      With my team, we go over the requirements and iron out the core 
      features. We mockup the application and go over with our customers the 
      direction of the application. Finally, we begin developing the application
      with a clear idea of our customer's application. I have experience working with Web
      and iOS applications.
    </p>
    <p>My dream is to start a businesses that will improve the lives of my customers</p>
  </div>
</div>
<!--//about-->


<!-- download-->
<div class="download">
  <h3>View my resume here</h3>
  <a href="assets/pdfs/KevinGuResume.pdf">View</a>
</div>
<!-- //download -->

        
{{my-portfolio all_projects=model.all_projects 
               ios_projects=model.ios_projects
               web_projects=model.web_projects}}


<!--footer-->
<div class="footer-agileinfo">
  <p> &copy; 2016 Curriculum vitae. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>
